streamlit~=1.56.0
streamlit-authenticator
pandas~=3.0.2
openpyxl~=3.1.5
numpy~=2.4.4
requests~=2.33.1
Pillow~=12.2.0
XlsxWriter
DateTime~=6.0
plotly~=6.7.0
supabase~=2.30.1
dotenv~=0.9.9
python-dotenv~=1.2.2
reportlab
pypdf
xlrd>=2.0.1
xlrd>=2.0.1
